@font-face {
  font-family: "VictorMono";
  src: local("VictorMono"), url(./assets/fonts/VictorMono-Italic.ttf) format("opentype");
}

@font-face {
  font-family: "PlayfairDisplay";
  src: local("PlayfairDisplay"),
    url(./assets/fonts/PlayfairDisplay.ttf) format("opentype");
}
